<html>
<head>
    <title>Mileage Calculator</title>
    <style>
        body 
        {
            background: linear-gradient(cyan, green);
        }
        .id1 
        {
            text-align: center;
            color: red;
        }
        .box 
        {
            text-align: center;
            width: 60%;
            background-color: pink;
            border: solid 6px black;
            padding: 25px;
            margin: 40px auto;
        }
        .result 
        {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1 class="id1"><u>Mileage Calculator</u></h1>
    <div class="box">
        <h2><u>Mileage Calculator</u></h2>
        <h3>Priyan - 25017302</h3>

        <form method="post">
            {% csrf_token %}
            <label>Distance Travelled</label>
            <br>
            <input type="number" name="distance"> km
            <br>
            <br>
            <label>Liters of Fuel  Consumed</label>
            <br>
            <input type="number" name="liters"> L
            <br>
            <br>
            <br>
            <button type="submit">Calculate</button>
            <br>
            <br>
            <label>Mileage</label>
            <br>
            <input class='result' type="number" name="Mileage" value={{miles}}>Km/L
        </form>
    </div>
</body>
</html>